body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#app {
    width: 100%;
    height: 800px;
    background-color: aquamarine;
}

.line {
    height: 6px;
    width: 70px;
    background-color: #000;
    margin: 8px auto;
}

#game {
    width: 100%;
    height: 800px;
    background-color: chartreuse;
}

a {
    text-decoration: none;
}

img {
    transition: transform.2s;
    width: 400px;
}

img:hover {
    transform: scale(0.9);
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: fuchsia;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #FFF;
    font-size: 20px;
}